# Arquivos de compilação e binários
*.class
*.jar
*.war
*.ear

# Arquivos gerados pelo Maven
target/
*.iml
.idea/

# Arquivos de configuração do Eclipse
.settings/
.classpath
.project

# Logs
*.log

# Dependências do Maven
lib/

# Arquivos do Visual Studio Code
.vscode/

# Arquivos do IntelliJ IDEA
out/
*.iws
*.ipr
*.iws
*.iml

# Cache do Maven
.caches/
.cache/

# Cache do Gradle
.gradle/

# Arquivos temporários
*.tmp

# Arquivos de configuração do Spring Boot
application.properties

# Arquivos do banco de dados H2
data.mv.db
data.trace.db

# Arquivos de log do Spring Boot
spring.log
